.modalBackground {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}
.modalBody {
  background-color: white;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.modalBody > * {
  border-top: 2px black solid;
  border-bottom: 1px black solid;
}
.modalBody button {
  cursor: pointer;
}
.showModalBtn {
  font-size: 25px;
  cursor: pointer;
}
